* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}
header {
  background-image: linear-gradient(to right, #707ad2, #78bae1),
    url("../img/header-bg.jpg");
  background-blend-mode: multiply;
  width: 100vw;
  height: 100dvh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
nav ul{
  flex: 1;
  text-align: center;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin-right: 10px ;
}
nav ul li a{
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
}

#sign_up {
  width: 150px;
  padding: 1rem;
  background: #69a3c2;
  outline: none;
  border: none;
  border-radius: 1.2rem;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  float: right;
  margin-right: 20px;
}

#sign_up:hover {
  color: #65a6e5;
  background: white;
}
